.menu {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: $menu-bg-color;
  z-index: 500;

  .left {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0.5rem;

    .title {
      margin-right: 0.5rem;
      padding: 0.3rem 0.6rem 0.1rem 0.6rem;
      background-color: $title-background-color;
      color: white;
      border-radius: 12px;
      font-size: 1.6rem;
      font-weight: bolder;
      text-transform: uppercase;
    }

    .subtitle {
      color: $menu-color;
      font-style: italic;
    }
  }

  .right {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    a.link {
      color: $menu-item-color;
      padding: 1.6rem 1rem 1rem 1rem;
      text-decoration: none;
      border-bottom: 4px solid transparent;
      font-weight: bolder;

      &.active,
      &:hover {
        color: $menu-item-hover-color;
        font-weight: bolder;
        border-bottom: 4px solid $menu-item-hover-color;
        cursor: pointer;
      }
    }
  }
}
