.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 600;
  height: 100%;
  width: 42vw;
  background-color: $bg-color-dark;
  box-shadow: -1px 0 0 1px rgba(0, 0, 0, 0.25);
  transition: all ease 0.2s;

  &.hidden {
    transform: scaleX(0);
    transform-origin: right;
  }

  &.active {
    transform: scaleX(1);
    transform-origin: right;
  }

  .body {
    position: relative;

    .closeBtn {
      position: absolute;
      top: 10px;
      left: 10px;
      border: none;
      background-color: transparent;
      fill: white;
      font-size: 2.2rem;
      z-index: 1000;

      &:hover {
        fill: $accent-color;
        cursor: pointer;
      }
    }

    .header {
      position: relative;
      width: 100%;
      max-height: 300px;
      overflow: hidden;

      .backdrop {
        width: 100%;
        height: auto;
        position: relative;
        top: 0;
        left: 0;
        opacity: 0.2;
      }

      .headerContent {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 300px;

        .poster {
          width: 140px;
          margin: 1rem;
          border-radius: 8px;
        }

        .headerTitle {
          font-family: $title-font-family;
          font-size: 3.8rem;
          color: white;
          margin: 1rem;
        }

        .headerSubtitle {
          font-size: 2rem;
          color: white;
          margin: 1rem;
        }
      }
    }

    .content {
      margin: 1rem;

      .contentDescription {
        margin: 1rem;
        color: white;
        font-size: 1.1rem;
        line-height: 1.6rem;
      }

      .contentInfoWrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .contentInfo {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          font-size: 1.1rem;
          line-height: 1.6rem;
          color: white;
          fill: white;

          > * {
            margin: 1rem;
          }
        }
      }
    }

    .footer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 3rem;

      .btn {
        &.liked {
          fill: #e53e3e;
          color: #e53e3e;
          border-color: #e53e3e;

          &:hover {
            background-color: #e53e3e;
            color: white;
            fill: white;
            cursor: pointer;
          }
        }

        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 1rem;
        padding: 0.6rem 1rem;
        border: 0;
        fill: $accent-color;
        color: $accent-color;
        background-color: transparent;
        border: 1px solid $accent-color;
        font-size: 1.6rem;
        border-radius: $card-border-radius;
        text-decoration: none;

        &:hover {
          background-color: $accent-color;
          color: white;
          fill: white;
          cursor: pointer;
        }

        .hint {
          margin-left: 0.4rem;
          font-size: 1rem;
        }
      }
    }
  }
}
