$color: #fff;
$accent-color: #2B6CB0;
$bg-color: #2D3748;
$bg-color-dark: #1A202C;

$title-background-color: $accent-color;

$menu-color: #718096;
$menu-bg-color: #1A202C;
$menu-item-color: $accent-color;
$menu-item-hover-color: #90CDF4;

$card-width: 154px;
$card-height: 231px;
$card-border-radius: 8px;
$card-title-bg-color: #F7FAFC;
$card-btn-hover-color: #90CDF4;