$color: #1A202C;
$accent-color: #2B6CB0;
$bg-color: #E2E8F0;

$title-background-color: #2B6CB0;

$menu-color: #718096;
$menu-bg-color: #F7FAFC;
$menu-item-color: $accent-color;
$menu-item-hover-color: #2A4365;

$card-width: 154px;
$card-height: 231px;
$card-border-radius: 8px;
$card-title-bg-color: #F7FAFC;
$card-btn-hover-color: #90CDF4;